@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bag Of Marbles</h1>
    <ul id="BagOfMarbles"></ul>
</div>

<button onclick="LoadRandomMarble();">random marble</button>
<div>Random: <span id="random"></span></div>
